In [3]:
break_list = [1,2,3,4,5,6,7,8,9]
for i in break_list:
    print(i)
    if i==6:
            break

1
2
3
4
5
6

In [5]:
#to Break the for loop

break_list = [1,2,3,4,5,6,7,8,9]
for i in break_list:
    if i == 6:
        print(i)
        break

6

In [ ]:
#to check whether the element belongs top list or not

In [6]:
6 in break_list

True

In [7]:
5 in break_list

True

In [9]:
9 in break_list

True

In [10]:
Break_list = [1,2,3,4,5,6,7]
for i in Break_list:
    if i ==6:
        break 
    print(i)

1
2
3
4
5

In [ ]:
#To match INDEX & VALUE

In [11]:
SS= [2,3,4,5,6,7,11]
for i in SS:
    print(i)
    if SS[i] ==5:
        break

2
3

In [ ]:
#function Continue skips the value

In [12]:
AA = [ 1,2,3,4,5,11,22,33,44,55]
for i in AA:
    if i ==5:
        continue
    print(i)

1
2
3
4
11
22
33
44
55

In [13]:
for q in range (1,10):
    if q ==6:
        continue
    print (q)

1
2
3
4
5
7
8
9

In [14]:
for q in range (1,20):
    if q==5:
        break
    print(q)

1
2
3
4

In [ ]:
#Nested LOOP

In [15]:
First_name =['Amna', 'Ayesha' , 'Uroos' ]
Last_name = ['Nazim' , 'Junaid' , 'Afzal']

In [16]:
Full_Names = []

In [17]:
for f in First_name:
    for l in Last_name:
        Full_Names.append( f + "" + l)

Full_Names

['AmnaNazim',
 'AmnaJunaid',
 'AmnaAfzal',
 'AyeshaNazim',
 'AyeshaJunaid',
 'AyeshaAfzal',
 'UroosNazim',
 'UroosJunaid',
 'UroosAfzal']

In [ ]:
#To Generate Table

In [18]:
for i in range (1,13):
    print("2 * "  + str(i) + " = " + str(i*2) )

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24

In [19]:
for f in range (1,11):
    for e in range (2,11):
        print(str(f) , '*' , str(e), '=' , int(f)*int(e))

1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100